body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
#tombol {
  background-color: rgb(70, 156, 255);
  padding: 8px;
}
